/* Coolors Exported Palette - https://coolors.co/f6bd60-f7ede2-f5cac3-84a59d-f28482 */

/* CSS HEX */
--hunyadi-yellow: #f6bd60ff;
--linen: #f7ede2ff;
--tea-rose-red: #f5cac3ff;
--cambridge-blue: #84a59dff;
--light-coral: #f28482ff;

/* CSS HSL */
--hunyadi-yellow: hsla(37, 89%, 67%, 1);
--linen: hsla(31, 57%, 93%, 1);
--tea-rose-red: hsla(8, 71%, 86%, 1);
--cambridge-blue: hsla(165, 15%, 58%, 1);
--light-coral: hsla(1, 81%, 73%, 1);

/* SCSS HEX */
$hunyadi-yellow: #f6bd60ff;
$linen: #f7ede2ff;
$tea-rose-red: #f5cac3ff;
$cambridge-blue: #84a59dff;
$light-coral: #f28482ff;

/* SCSS HSL */
$hunyadi-yellow: hsla(37, 89%, 67%, 1);
$linen: hsla(31, 57%, 93%, 1);
$tea-rose-red: hsla(8, 71%, 86%, 1);
$cambridge-blue: hsla(165, 15%, 58%, 1);
$light-coral: hsla(1, 81%, 73%, 1);

/* SCSS RGB */
$hunyadi-yellow: rgba(246, 189, 96, 1);
$linen: rgba(247, 237, 226, 1);
$tea-rose-red: rgba(245, 202, 195, 1);
$cambridge-blue: rgba(132, 165, 157, 1);
$light-coral: rgba(242, 132, 130, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #f6bd60ff, #f7ede2ff, #f5cac3ff, #84a59dff, #f28482ff);
$gradient-right: linear-gradient(90deg, #f6bd60ff, #f7ede2ff, #f5cac3ff, #84a59dff, #f28482ff);
$gradient-bottom: linear-gradient(180deg, #f6bd60ff, #f7ede2ff, #f5cac3ff, #84a59dff, #f28482ff);
$gradient-left: linear-gradient(270deg, #f6bd60ff, #f7ede2ff, #f5cac3ff, #84a59dff, #f28482ff);
$gradient-top-right: linear-gradient(45deg, #f6bd60ff, #f7ede2ff, #f5cac3ff, #84a59dff, #f28482ff);
$gradient-bottom-right: linear-gradient(135deg, #f6bd60ff, #f7ede2ff, #f5cac3ff, #84a59dff, #f28482ff);
$gradient-top-left: linear-gradient(225deg, #f6bd60ff, #f7ede2ff, #f5cac3ff, #84a59dff, #f28482ff);
$gradient-bottom-left: linear-gradient(315deg, #f6bd60ff, #f7ede2ff, #f5cac3ff, #84a59dff, #f28482ff);
$gradient-radial: radial-gradient(#f6bd60ff, #f7ede2ff, #f5cac3ff, #84a59dff, #f28482ff);